.page {
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  & h1 {
    font-size: 32px;
    margin-top: 8px;
  }
  .messages {
    overflow: hidden;
    flex: 1;
  }

  .textInput {
    display: flex;
    align-items: center;
    gap: 4px;
    --height: 45px;
    height: var(--height);
    .wrapper {
      flex: 1;
      & textarea {
        height: var(--height);
      }
    }
    .button {
      padding: 10px 20px;
      font-size: 14px;
      height: 100%;
    }
  }
}
