.photo {
  container-type: inline-size;
  container-name: photo;
  padding: 0 20px;
  .user {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    & .name {
      font-size: 20px;
      font-weight: 400;
    }
  }
  .swipeWrapper {
    border-radius: 15px;
    overflow: hidden;
  }
  .imageWrapper {
    width: 100%;
    height: 250px;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: var(--secondary-color);
    }
  }
  .footer {
    margin-top: 12px;
    text-align: end;
  }
}

.viewerFooter {
  padding: 16px;
  text-align: center;
  .footerButton {
    font-size: var(--adm-font-size-4);
    color: #ffffff;
    line-height: 1;
    padding: 10px 16px;
    background-color: rgba(153, 153, 153, 0.4);
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
  }
}

@container photo (width >= 700px) {
  .photo {
    .name {
      font-size: 30px;
    }
  }
}
