.photo {
  container-type: inline-size;
  container-name: photo;
  padding: 0 20px;
  .name {
    margin-bottom: 5px;
    font-size: 20px;
  }
  .swipeWrapper {
    border-radius: 15px;
    overflow: hidden;
  }
  .imageWrapper {
    width: 100%;
    height: 250px;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: var(--secondary-color);
    }
  }
  .footer {
    margin-top: 12px;
    text-align: end;
  }
}

@container photo (width >= 700px) {
  .photo {
    .name {
      font-size: 30px;
    }
  }
}
