.navBar {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 55px;
    background-color: var(--theme-color);
    border-top: 1px solid gray;
}

.link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    width: 30px;
    height: 30px;
}

.active {
    filter: invert(39%) sepia(27%) saturate(1511%) hue-rotate(195deg)
        brightness(93%) contrast(98%);
}
